.contact-contract{
    margin-top: 96px;
}
.contact-banner .banner-section .image-wrapper {
    height: 211px;
}

.contact-banner .banner-section .heading-holder {
    width: 70%;
    left: 0;
    right: 0;
}

.contact-banner .banner-section .image-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.contract-innvo .image-container img{
    border-radius: 0;
}

.app-video {
    width: auto;
    height: auto;
    /* border-radius: 5px; */
}
/* .app-video a>*, */
.app-video img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 5px;
}

.app-video-slider{
    position: relative;
}


.application-videos .app-video-slider .slick-next:before{
    font-family: FontAwesome;
    content: '\f105';
    font-size: 90px;
    color: #eeeeee;
}
.application-videos .app-video-slider .slick-prev,
.application-videos .app-video-slider .slick-next{
    position: absolute;
    z-index: 1;
    top: 80px;
}

.application-videos .app-video-slider .slick-prev{
    left: 20px;
}
.application-videos .app-video-slider .slick-next{
    right: 20px;
}
.application-videos .app-video-slider .slick-prev:before{
    font-family: FontAwesome;
    content: '\f104';
    font-size: 90px;
    color: #ffffff;
 }

.our_strengths .any_projects .projects_blogs .projects_img video{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.contact-contract .banner-section{
    height: 235px;
}

.contact-contract .image-container{
    padding:21px 0;
}
.contact-contract .heading-holder h1{
    font-size:40px;
    line-height:56px;
}

.collaboration .collab-section .collab-right a:hover{
    background-color: #fff;
    color: #000;
    letter-spacing: 2px;
   
}
.contact-contract .heading-holder p{
    line-height:normal;
}

.contract-innvo p{
    color: #000;
    line-height: 22.4px;
}
.contract-sec .any_projects ul li div.projects_blogs .projects_txt h6 {
    font-size: 18px;
    line-height: 25.2px;
}
.application-videos .application-content h2{
    font-size:38px;
    line-height: 53.2px;
}
.application-videos .application-content p{
    font-size:16px;
    line-height: 22.4px;
    color: #000;
}


@media (max-width:998px){
    .contact-contract {
        margin-top: 56px;
    }
}

@media (max-width:786px){
    .contract-innvo .heading-holder h2,
    .application-videos .application-content h2,
    .contract-sec .our_strengths_contnt h2{
        font-size: 24px;
    }

    .contact-contract .heading-holder h1{
        font-size: 28px;
    }

    .contact-contract .banner-section .heading-holder {
        text-align: left;
        width:85%;
    }
    .contact-contract .heading-holder h1 {
        align-self: flex-start;
        margin: 10px 0;
    }
}

 @media (max-width:499px){
    .contact-banner .banner-section .heading-holder {
        text-align: left;
    }

    .contact-banner .image-container {
        height: auto;
    }
    .contact-contract .image-container{
        height: auto;
    }
    .contact-contract {
        margin-top: 36px;
    }
    .contact-contract .heading-holder h1,
    .innovation-solutions .heading-holder h2 {
        font-size:19px;
        line-height:26.6px;
    }
    .contact-contract .heading-holder p{
        font-size:12px;
    }

    .contact-contract p,
     .contract-sec .our_strengths_contnt p,
     .contract-sec .any_projects ul li div.projects_blogs .projects_txtp{
        font-size: 12px;
        line-height: 16.8px;
    }
    
    .contract-sec .our_strengths_contnt h2 {
        font-size:21px;
        line-height: 29.4px;
    }
    .contract-sec .any_projects ul li div.projects_blogs .projects_txt h6 {
    font-size: 14px;
    line-height: 19.6px;
    }
    .application-videos .application-content h2{
    font-size:23px;
    line-height: 32.2px;
    }
    .application-videos .application-content p{
        font-size:11px;
        line-height: 15.4px;
    }
    .collaboration .collab-section .collab-left p {
    width: 100%;
    }
 }