.contact-section {
    padding: 50px 0;
}
.contact-banner{
    margin-top: 96px;
}
.contact-banner .banner-section{
    height: 260px;
}
.contact-box {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-box i {
    font-size: 24px;
    margin-right: 10px;
}


.contact-form input, .contact-form select, .contact-form textarea {
    border: 2px solid #373B4D;
    height:42px;
}

.contact-form input::placeholder,
 .contact-form select,
  .contact-form textarea::placeholder {
    font-weight: 400;
}
.contact-form textarea {
    height: 100px;
}
.submit-btn {
    background-color: #232733;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
}
.submit-btn:hover {
    background-color: #000;
}

.contact-form button{
    background: #232733;
    border: #232733;
    color: #ffffff;
    line-height: 22.4px;
    font-size: 25px;
}

.contact-banner .heading-holder h1{
    font-size: 40px;
    line-height: 56px;
}

.contact-form h2{
    font-size: 35px;
    line-height:49px;
}

.contact-form .contact-section .contact-box p{
    line-height:28.2px;
    font-size: 16px;
    color: #000000;
}

.contact-form .contact-section .contact-box h5{
    font-size: 18px;
    line-height: 25.2px;
    color: #000000;
}

.contact-form .contact-section .contact-box a,
.contact-box p a{
    color: #000000;
    text-decoration: underline;
}

.button-div {
    width:50%;
}

@media(max-width:998px){
    .contact-banner{
        margin-top: 56px;
    }
}
@media (max-width: 768px) {
    .contact-banner .heading-holder h1{
        font-size: 24px;
    }
    
    .contact-form h2{
        font-size: 24px;
    } 
    .button-div {
        width:100%;
    }
}
@media(max-width:499px){
    .contact-banner{
        margin-top: 36px;
    }
    .contact-banner .heading-holder h1{
        font-size: 24px;
        line-height: 33.6px;
    }

    .contact-form h2{
        font-size: 18px;
        line-height:25.2px;
    }
    .contact-form button{
    line-height: 20.9px;
    font-size: 14.9px;
}
.contact-form .contact-section .contact-box p{
    line-height:21.6px;
    font-size: 12px;
}

.contact-form .contact-section .contact-box h5{
    font-size: 14px;
    line-height: 19.6px;
}
}
/* .contact-map iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */