.industry-banner{
    margin-top:120px;
}

.system-overview ul li {
    list-style: disc;
}

.system-overview ul{
    text-align: unset;
    padding: revert;
}
.industry-banner .banner-section {
    position: relative;
    height: 230px;
    margin: 0;

}
.industry-banner .banner-section::before{
    position: absolute;
    content: '';
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0,0,0.6);
}

.industry-banner .banner-section .image-wrapper{
   height: inherit;
}
.industry-banner .banner-section .image-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }

.industry-banner .banner-section .heading-holder{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    color: #ffffff;
    text-align: center;
}

.industry-banner .banner-section .heading-holder h2{
    font-weight: 700;
}

.industry-banner .banner-section .heading-holder a{
    color: #ffffff;
    text-decoration: underline;
    text-transform: uppercase;
}

.text-orange{
    color: #ff6600;
}

.product-card-section {
    background-color: #f4f4f4;
    /* padding: 40px 0; */
}

.product-card-section .product-card {
    background: white;
    padding: 20px;
    transition: 0.3s;
    border: 1px solid #DAD9D9;
}

.product-card-section .product-image-wrapper {
    overflow: hidden;
    width: auto;
    height: 380px;
}

.product-image-wrapper img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}

.product-card-section .product-image-wrapper:hover img {
    transform: scale(1.1);
}

.product-card-section .product-details {
    text-align: center;
    padding: 15px;
}

.product-card-section .product-title {
    font-size: 24px;
    font-weight: bold;
}

.product-card-section .product-description {
    color: #555;
    font-size: 16px;
    margin: 16px 0;
    text-align: justify;
}

.product-card-section .btn-orange {
    background-color: #f26522;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
    border: none;
    width: 80%;
}

.product-card-section .btn-orange:hover {
    background-color: #F49966;
}

.product-card-section .heading-holder {
    font-weight: 700;
    text-align: center;
}

.system-overview .content >*{
    font-size: 18px;
}

.accordion-wrapper {
  border-bottom: 1px solid #0057E1;
}

.product-strip{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
    max-height: 7.5em; 
    line-height: 1.5em; 
}

.industry-banner .banner-section .heading-holder h1{
    font-size: 34px;
}
    
.product-card-section .product-image-wrapper img{
    /* max-height: none !important; */
    width:100%;
    height:100%;
    object-fit:cover;
}


@media (max-width:992px){
    .industry-banner {
        margin-top: 80px;
    }
}
@media (max-width:768px){
    .product-card-section .product-image-wrapper {
        height: 50%;
        width: 50%;
    }

    .industry-banner .banner-section .heading-holder h2{
        font-size: 24px;
    }
    .industry-banner .banner-section .heading-holder h1{
        font-size: 24px;
    }
}

@media (max-width:499px){
    .product-card-section .product-title {
        font-size: 20px;
    }
    .product-card-section .product-description {
        font-size: 12px;
    }
    .industry-banner {
        margin-top: 50px;
    }
    .industry-banner .banner-section .heading-holder h2{
        font-size: 20px;
    }
    .product-card-section .product-description {
        text-align: left;
    }
}