.product-section {
    background: #fff;
    margin-top: 120px;
}

.product-section .container {
   width: 65%;
}


.text-orange {
    color: #ff6600;
    font-weight: bold;
}


.product-image img {
    max-width: 100%;
    border-radius: 5px;
}

.product-thumbnails img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.btn-dark {
    padding: 10px 20px;
    font-weight: bold;
}

.product-section .product-features .product-feature-block .accordion-wrapper .acc-head::after {
    content: '\002B';
    color: #ff6600;
    transform: none;
} 
.product-section .product-features .product-feature-block .accordion-wrapper .acc-head.active::after {
    content: '\2212';
}


.product-section .product-features .product-feature-block .accordion-wrapper .acc-body{
    padding-left:50px;
}
.product-section .product-features .product-feature-block .accordion-wrapper .acc-body ul,
.product-section ul:not(.slick-dots):last-of-type{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    text-align: start;
}
.product-section .product-features .product-feature-block .accordion-wrapper .acc-body ul li ,
.product-section .product-left-part ul li{
    margin: 0;
    text-align: start;
    list-style-type: circle;
    font-weight: 400;
}

.product-section .product-left-part  .product-slider {
    /* max-height: 480px; */
    margin: auto;
    text-align: center;
    width: auto;
}
.product-section .product-left-part  .product-slider .product-main-slider {
    /* height: 380px; */
}
.product-section .product-left-part  .product-slider .product-thumbnail-slider {
    height: 50px;
}


.product-section .product-left-part  .product-main-slider .image-wrapper {
    border: 1px solid #eeeeee;
    /* height: 380px; */
}
.product-section .product-left-part  .product-main-slider .image-wrapper img {
    width: 100%;
    height: 100%; /* Adjust as needed */
    object-fit: cover;
    /* border-radius: 10px; */
}

.product-section .product-left-part  .product-thumbnail-slider {
    margin-top: 10px;
}

.product-section .product-left-part .product-thumbnail-slider .slick-slide {
    margin: 0 5px; /* Adds space on left and right */
}
.product-section .product-left-part  .product-thumbnail-slider .image-wrapper {
    border: 1px solid #eeeeee;
    padding: 5px;
    width: 50px !important;
}

.product-section .product-left-part  .product-thumbnail-slider .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
}

/* Highlight selected thumbnail */
.product-section .product-left-part  .product-thumbnail-slider .slick-current .image-wrapper {
    border: 2px solid black; 
}

.product-section .product-features .product-feature-block .accordion-wrapper .acc-body .custom-list{
    margin-left:-45px;
}

.product-section .product-features .product-feature-block .accordion-wrapper .acc-body  p{
    margin-left: -48px;
}

.product-section .product-features .product-feature-block .accordion-wrapper .acc-body ul li ul{
    margin-left: 20px;
}

.product-section .product-left-part ul {
    margin-left: 40px;
}

.product-page .product-title {
    font-size: 32px;
    width: 400px;
    text-align: left;
}
.product-section .product-left-part ul li {
    font-weight: 400;
}

@media (min-width:1240px) {
    .product-section .container {
        max-width: 1024px;
    }
}

@media (max-width:992px){
    .product-section .container{
        width: 90%;
    }
    .product-section .product-left-part ul li{
        list-style-type: disc;
        padding-bottom: 20px;
    }
    .product-section .product-features .product-feature-block .accordion-wrapper .acc-body .custom-list li {
        list-style-type: disc;
        /* padding-bottom: 20px; */
    }
    .product-section .product-features .product-feature-block .accordion-wrapper .acc-body .custom-list{
        gap: 10px;
    }
    .product-section .product-features .product-feature-block .accordion-wrapper .acc-body {
        margin-left: 20px;
    }
    .product-section .product-features .product-feature-block .accordion-wrapper .acc-body  p{
        margin-left: -20px;
    }
    .product-section .product-features .product-feature-block .accordion-wrapper .acc-body ul li ul{
        margin-left: -13px;
    }
    

    .product-section .product-left-part  .product-slider .product-main-slider .slick-dots li {
        margin: 0;
    }
    
}

@media (max-width:768px) {
    .product-section .download-sec a{
        font-size: 14px;
    }
    .product-section .product-left-part ul {
        margin-left: 17px;
    }
}

@media (max-width:576px) {
    .product-section .product-left-part p,
    .product-section .product-left-part ul li{
        line-height: 28px;
    }
    .product-section .product-left-part ul li{
        list-style-type: disc;
        font-size: 15px;
    }
    .product-section .download-sec a{
        font-size: 11px;
    }


}